<!DOCTYPE html>
<html>
<head>
	<title> Websockets Server </title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="app">
		<h1> Messages </h1>
		<form @submit.prevent="send">
			<input 
				autocomplete="off"
				type="text" 
				name="newMessage" 
				placeholder="new message" 
				v-model="newMessage">
			<input 
				type="submit" 
				name="send" 
				value="send">
		</form>
		<p v-for="message in messages" :class="{mine: message.isMine}"> 
			{{ message.content }}
		</p>
	</div>
	<div id="root"></div>
	<embed src="embedded.html">
	<script src="client.js" type="module"></script>
	<script type="module">
		import {trylog} from './log.js'
		trylog()
	</script>
</body>
</html>